{
  "extends": ["airbnb", "react-app"],
  "plugins": ["react"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "jsx-a11y/href-no-hash": 0
  }
}
