body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
a,
a:visited {
  color: #185263;
}
a.active {
  color: indianred;
}
