body {
  margin: 0;
  padding: 0;
  background: steelblue;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: steelblue;
}

a.active {
  color: #000;
  border-bottom: 1px solid #000;
}
