body {
  margin: 0;
  padding: 0;
  background: steelblue;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', Helvetica, sans-serif;
}

nav {
  font-size: 1rem;
  padding: 1rem 2rem;
  background: #efefef;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  transition: 0.35s all;
}

@media screen and (max-width: 450px) {
  nav {
    justify-content: space-around;
    font-size: 0.75rem;
    padding: 1rem 0 0 0;
  }
}

a {
  text-decoration: none;
}

nav > a {
  margin: 0.5rem;
}

a,
a:visited {
  color: steelblue;
}

a.active {
  color: #000;
  border-bottom: 1px solid #000;
}
