.prop-wrap {
  padding: 1rem;
  margin: 1rem;
  width: 50%;
}
.header-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.header-wrap img {
  margin: 0.5rem;
  margin-right: 1.5rem;
}
@media screen and (max-width: 450px) {
  .header-wrap h1 {
    font-size: 1.5rem;
  }
  .header-wrap img {
    margin: 0.5rem;
    margin-right: 0.5rem;
  }
  .prop-wrap {
    min-width: 300px;
  }
}
