.form-wrap {
  width: 99%;
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

input {
  font-size: 1.5rem;
}
input[type='submit'] {
  display: none;
}
@media screen and (max-width: 450px) {
  input {
    font-size: 1rem;
  }
}
