#big-link,
#mobile-title,
#mobile-sub {
  transition: 0.15s all;
}

#big-link {
  border-radius: 4px;
  padding: 1rem;
  color: white;
  background: steelblue;
  font-size: 1.5rem;
}

#big-link:hover {
  color: #dedede;
}

@media screen and (max-width: 450px) {
  #big-link {
    font-size: 1rem;
  }
  #mobile-title {
    font-size: 2rem;
  }
  #mobile-sub {
    font-size: 1.25rem;
  }
}
